	#divBusca{
    text-align: right;
    background-color:#bdbdbd;
    border:solid 1px;
    border-radius:15px;
    width:300px;
    }
 
    #txtBusca{
    float:right;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
    }

  h1, h2, h3, p{
  font-family: Arial;
  text-align: left;
  color: white;
  }
